
/* General styles */
html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*HEADER*/

.header {
    display: flex;
    justify-content: space-between;
}

/*LOGO*/

.logo-div {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    font-size: 2rem;
}

.logo-div img {
    height: 4rem;
    width: auto;
    padding-top: 0.6rem;
}

.logo-div .logo-img {
    margin: auto 0;
}

.logo-div .academy {
    color: gray;
    margin: auto 0;
}

.logo-div .colmar {
    margin: auto 0;
}

/*NAVIGATION*/
.nav {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;

}

.nav ul {
    display: flex;
    list-style: none;

}

.nav ul li {
    margin-right: 1rem;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}


/*MAIN*/

/*Learn something new*/

.learn-smth-new {
    display: flex;
    background-color: rgb(235, 237, 240);
    justify-content: space-between;
    align-items: center;
}


.learn-smth-new img {
    width: 60%;
    height: auto;
    margin: 2rem 1.5rem;
}

.learn-smth-new .content {
    width: 35%;
}

.learn-smth-new .content-items {
    justify-content: center;
    margin-right: 25%;
}

.learn-smth-new .content-items h1 {
    font-size: 2.3rem;
    color: rgb(80, 80, 80);
}

.learn-smth-new .content-items p {
    font-size: 1.3rem;
    color:rgb(80, 80, 80);
    margin-left: 0;
}

.learn-smth-new .content-items button {
    font-size: 1.2rem;
    color: white;
    background-color: rgb(80, 80, 80);
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    text-decoration: none;
    font-weight: 100;
    margin-top: 1rem;
    cursor: pointer;
}

/*KEEP PRACTICING*/

.keep-practicing {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

/*KEEP PRACTICING LEFT*/

.keep-practicing .left {
    width: 60%;
}

.keep-practicing .left img {
    width: 92%;
    height: auto;
    margin: 2rem 1.5rem;
}

.keep-practicing .left .content {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.keep-practicing .left .content h2 {
    font-size: 2.4rem;
    margin-top: 0%;
}

.keep-practicing .left .content .two {
    margin-bottom: 0%;
}

/*KEEP PRACTICING RIGHT*/

.keep-practicing .right {
    width: 40%;
}

.keep-practicing .right .article-box {
    display: flex;
}

.keep-practicing .right .article-box:first-child {
    margin-top: 2rem;
}

.keep-practicing .right .article-box:first-child img {
    margin-top: 0 !important;
}

#oliver {
    background-color: rgb(235, 237, 240);
}

.keep-practicing .right .article-box img {
    width: 35%;
    margin: 1rem;
}

.keep-practicing .right .article-box .article-content {
    width: 65%;
    margin-left: 1rem;
}

.keep-practicing .right .article-box .article-content p {
    margin-left: 0;
}

/*START LEARNING*/

.start-learning {
    background-color: rgb(235, 237, 240);
    margin-top: 2rem;
}

.start-learning h2 {
    text-align: center;
    padding-top: 2rem;
    margin: 0;
    font-size: 1.5rem;
}

.start-learning .box-container {
    display: flex;
    background-color: rgb(235, 237, 240);
    margin-left: 2.3rem;
    margin-right: 2.3rem;
    flex-wrap: wrap;
}

.start-learning .box-container .box {
    margin: 2rem;
    background-color: white;
    width: 28%;
    color: rgb(80, 80, 80);
}

.start-learning .box-container .box img {
    width: 100%;
}

.start-learning .box-container .box h6 {
    color: black;
    font-size: 1rem;
    margin: 1rem;
}

.start-learning .box-container .box p {
    margin-left: 1rem;
}

/*THESIS EXHIBIT*/

.thesis h2 {
    text-align: center;
    padding: 1rem 0;
}

.thesis .box-container {
    display: flex;

}

.thesis .left {
    width: 60%;
}

.thesis .left video {
    width: 95%;
    margin: 0 1.5rem 1.5rem 1.5rem;
}

.thesis .left h6, p {
    margin-left: 1.5rem;
}

.thesis .left h6 {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.thesis .right {
    width: 40%;
}

.thesis .right img {
    width: 35%;
    height: auto;
    padding: 1rem;
}

.thesis .right .box {
    display: flex;
}

.thesis #one {
    background-color: rgb(235, 237, 240);
}

.thesis .right .box h6 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.thesis .right .box .content {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.thesis .right .box .content p {
    margin: 0;
}

/*FOOTER*/

footer {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px rgb(80, 80, 80);
}

footer div {
    display: flex;
    margin-right: 1rem;
}
